* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/*#nav {
	position: fixed;
	z-index: 10;
	background-color: black;
}*/

#nav-item {
	text-align: right;
}

#logome {
	color: transparent;
	background-color: black;
	padding: 10px;

}

#logoimgml {
	height: 40px;
	width: 40px;
}

#navbg {
	background: url(../images/bg2.jpg);
	background-size: cover;
	/*background-position: fixed;*/
	background-attachment: fixed;
	width: 100vw;
}

#logoqt {
	color: rgba(255,255,255,0.80);
	padding-bottom: 100px;
	padding-top: 100px;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
}

.nav-link:hover {
	color: white;
}

.clogo {
	color: rgba(255,255,255,0.80);
	margin-left: 0;
	padding-left: 0;

}

.nav-link {
	color: #D8E2DC;
}

#overviewbg {
	background-color: rgba(0,0,0,0.25);
	/*background-color: #352C29;*/
}

#overview {
	font-family: 'Song Myung', serif;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #DAF2E3;
}

#responsive {
	margin-top: 20px;
	/*background-color: rgba(255,255,255,0.10);*/
	/*background-color: rgba(10,15,15,0.50);*/
	/*background-color: white;*/
	position: relative;
}


.dcrpt {
	color: #DAF2E3;
	padding-top: 70px;
	/*background-color: rgba(15,10,6,0.25);*/
}

.dcrpt>p {
	background-color: rgba(15,10,6,0.25);

}

#tbimg {
	position: absolute;
	top: 200px;
	left: -70px;
	/*animation-delay: 2s;*/
}

#phnimg {
	position: absolute;	
	bottom: 20px;
	right:-30px;
	/*animation-delay: 3s;*/
}

#design {
	/*background-color: #0F0A06;*/
	/*background-color: green;*/
	margin-top: 10px;
}
.rspvtag {
	color: #DAF2E3;
}


.works {
	background-color: #0F0A06;
	color: rgba(255,255,255,0.50);
	text-align: center;
	padding-bottom: 30px;
}

.capimg {
/*	padding-right: 0;
	margin-right: 10px;
	position: relative;
	left: 55px;*/
	/*margin-left: 5px;*/
	padding-left: 0;
	padding-right: 0;

}

.workdesc {
	padding: 0;
	margin: 0;
}

#abtme {
	background-color: #3E3E3E;
	color: #F4F4F4;
}

#meimg {
	padding-left: 0;
	padding-right: 0;
}


#footer {
	background-color: black;
	color: rgba(255,255,255,0.25);
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}

i {
	font-size: 50px;
	color: brown;
	margin-top: 20px;
}

i:hover {
	color: white;
}




















/*mobile devices*/

@media only screen and (max-width: 450px) {

#tbimg {
	position: absolute;
	top: 180px;
	left: -10px;
	animation: none;
}

#phnimg {
	position: absolute;	
	bottom: 5px;
	right: -15px;
	animation: none;
}

#navbg {
	width: 100vw;
}



#hidimg {
	display:none;
}

.capstone {

}

#logoimg {
	display: none;
}

}



/*tablets*/
@media only screen and (max-width: 768px) {


}