* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



#nav-item {
	text-align: right;
}

#logome {
	color: transparent;
	background-color: black;
	padding: 10px;

}

#logoimgml {
	height: 40px;
	width: 40px;
}

#navbg {
	background: url(../images/bg2.jpg);
	background-size: cover;
	background-attachment: fixed;

}

#logoqt {
	color: rgba(255,255,255,0.80);
	padding-bottom: 100px;
	padding-top: 100px;
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
}

.nav-link:hover {
	color: white;
}

.clogo {
	color: rgba(255,255,255,0.80);
	margin-left: 0;
	padding-left: 0;

}

.clogo:active {
	box-shadow: none;
	border:none;
}

.nav-link {
	color: #D8E2DC;
}

#overviewbg {
	background-color: rgba(0,0,0,0.25);

}

#overview {
	font-family: 'Song Myung', serif;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #DAF2E3;
}

#responsive {
	margin-top: 20px;
	position: relative;
		border: 1px solid rgba(0,0,0,.5);
	background-color: rgba(0,0,0,.25);
}



#design {
	border: 1px solid rgba(0,0,0,.5);
	background-color: rgba(0,0,0,.25);
	padding-top: 40px;
	padding-bottom: 20px;

}


.dcrpt, .dcrpt1 {
/*	border: 1px solid rgba(0,0,0,.5);
	background-color: rgba(0,0,0,.25);*/
}


.dcrpt {
	color: #DAF2E3;
	padding-top: 70px;

}

.dcrpt1 {
	margin-left: 50px;
	color: #DAF2E3;


}

#wdimg {
	height: 317.641px;
	width: 450px;
	margin-left: 100px;
}

#tbimg {
	position: absolute;
	top: 200px;
	left: -70px;
	animation-delay: .8s;
}

#phnimg {
	position: absolute;	
	bottom: 20px;
	right:-30px;
	animation-delay: 1.2s;
	height: 240px;
	width: 240px;
}

#design {
	/*background-color: #0F0A06;*/
	/*background-color: green;*/
	margin-top: 10px;
}
.rspvtag {
	color: #DAF2E3;
}


.works {
	background-color: #0F0A06;
	color: rgba(255,255,255,0.80);
	text-align: center;
	padding-bottom: 30px;
	font-family: 'Song Myung', serif;
}

.capstone {
	margin-left: 400px;
	margin-right: 400px; 
}


.workdesc {
	padding: 0;
	margin: 0;
}

#abtme {
	background-color: #3E3E3E;
	color: #F4F4F4;
}

#meimg {
	padding-left: 0;
	padding-right: 0;
}


#footer {
	background-color: black;
	color: rgba(255,255,255,0.25);
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}

i {
	font-size: 50px;
	color: brown;
	margin-top: 20px;
}

i:hover {
	color: white;
}

#capstone1link {
	text-decoration: none;
	font-size: 2em;
	font-family: 'Song Myung', serif;
	color: rgba(255,255,255,.8);
}


















/*mobile devices*/

@media only screen and (max-width: 450px) {

#tbimg {
	position: absolute;
	top: 180px;
	left: -10px;
	animation: none;
}

#phnimg {
	position: absolute;	
	bottom: 5px;
	right: -15px;
	animation: none;
}

#navbg {
	width: 100vw;
}



#hidimg {
	display:none;
}

.capstone {
	margin-left: 90px;
	margin-right: 150px;
}

#logoimg {
	display: none;
}

.dcrpt1 {
	margin-left: 0px;
	color: #DAF2E3;
	margin-top: 40px;
}


#wdimg {
	margin-left: 0px;
}


#workhd {
	font-size: 3em;
}

.resimg {
	padding-bottom: 40px;
}

}



/*tablets*/
@media (min-width: 451px) and (max-width: 768px) {

#phnimg {
	margin-right: 250px;
}

.capstone {
	margin-left: 180px;
	margin-right: 180px;
}

#logoimg {
	width: 350px;
	height: 341.438px;
	margin-left: 25vw;
}

#be {
	margin-left: 1px;
}

#mtrimg {
	margin-left: 160px;

}

#tbimg {
	left: 80px;
	animation: none;
}

#phnimg {
	margin-right: 100px; 
	animation: none;
}

#wdimg {
	margin-left: 150px;
}

.dcrpt1 {
	margin-left: 0px;
}

}


/*widescreen*/


@media (min-width:1281px) and (max-width: 2000px) {

	.resimgbd {
		margin-left: 280px;
	}

	#phnimg {
		left: 300px;
	}

	#logocont {
		margin-left: 680px;
		overflow: hidden;
	}

	#wdimg {
		margin-left: 300px;
	}

	#design>.dcrpt1>h2, #design>.dcrpt1>p {
		margin-left: 180px;
	}
}

